<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <% if (userRole === "student"){ %>
        <link rel="stylesheet" href="/css/mainUser.css">
    <% }else if (userRole === "teacher"){ %>
        <link rel="stylesheet" href="/css/mainAdmin.css">
    <% }else if (userRole === "superadmin"){ %>
        <link rel="stylesheet" href="/css/mainSuperAdmin.css">
    <% } %>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/instruction.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
</head>
<body>
    <header class="header">

        <nav class="nav_bar">
            <ul class="menu">
                <li class="home">
                
                    <a href="/api/v1/<%= userRole %>/home">
                        <p class="underline-text-small">Home</p>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/api/v1/<%= userRole %>/home#celebrate-pi-day">
                                <p class="underline-text-small">Celebrate Pi Day</p>
                            </a> 
                        </li>
                        <li>
                            <a href="/api/v1/<%= userRole %>/home#what-is-pi">
                                <p class="underline-text-small">What is <span class="pi">&pi;</span></p>
                            </a>
                        </li>
                            <a class="bottom_li" href="https://www.piday.org/">
                                <p class="underline-text-small">More About Pi Day</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <% if (userRole === "student"){ %>
                    <% if (status === "not done"){ %>

                        <li>
                            <a href="/api/v1/student/instruction">
                                <p class="underline-text-small">Quiz</p>
                            </a>
                        </li>
                    <% }else{ %>
                        <li>
                            <a href="/api/v1/student/pi-test/result/<%= status %>/<%= user.user_id %>">
                                <p class="underline-text-small">Quiz</p>
                            </a>
                        </li>

                        <% } %>
                    <% }else if (userRole === "teacher" || userRole === "superadmin"){ %>
                        <li>
                            <a href="/api/v1/<%= userRole%>/leaderboard">
                                <p class="underline-text-small">Leaderboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="/api/v1/<%= userRole%>/setting/test">
                                <p class="underline-text-small">Setting</p>
                            </a>
                        </li>
                    <% } %>
                    <% if (userRole === "superadmin"){ %>
                        <li>
                            <a href="/api/v1/superadmin/manage-account">
                                <p class="underline-text-small">Manage Account</p>
                            </a>
                        </li>
                    <% } %>
                <li class = "account" id = "account">
                    <a href="/api/v1/sign-in" class = "account-link" id = "account-link"><span class="material-symbols-outlined account-logo underline-text-small" id = "account-logo">account_circle</span></a>
                    <ul class = "account-menu" id = "account-menu">
                        <li>
                            <% if (user){ %>
                                <a id = "log-out" class = "underline-text-small">Log Out</a>
                                <input type="hidden" class = "user-role" value = <%= userRole %>>
                               
                            <% }else{ %>
                                <a href="/api/v1/sign-in" class = "underline-text-small">Sign In</a>
                                
                            <% } %>


                        </li>
                        <li><a href="/api/v1/register" class = "underline-text-small">Register</a></li>
                    </ul>
                </li>

            </ul>

        </nav>
       

       

    </header>



    <main class="bg layer">


        <div class="parent_container">

            <div class="container">
            <p class="title_1">Requirements</p>
            <ul>
                <li>You have <%= time %> for this Pi quiz!</li>
                <li>Any acts of cheating is prohibited! (why would you even cheat...)</li>
                <li>Your screen will be set to full screen after accepting these requirements. Exiting the full screen will lead you to be warned (3 warnings before your quiz is stopped).</li>
                <li>Don't paste anything into the textbox. Any attempts of copy & pasting will stop the quiz.</li>
                <li>Press the button below to start the quiz</li>
                <li>After you submitted your answer, wait for further instructions from your teacher</li>
                <li>Just have fun! (you're just reciting pi numbers, not taking an A-level exam)</li>
            </ul>
    
            
            <button class="start-quiz" type="submit"><a href="/api/v1/student/test/pi-test/<%= user_id %>">Start</a></button>
           
    
    
    
    
            </div>
    
        </div>
    
    



    </main> 











    <div class="footer">

        <p>Made by BVIS students</p>

    </div>
    <script type = "module" src = "/js/logOut.js"></script>
</body>
</html>