<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    
    <link rel="stylesheet" href="/css/mainAdmin.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header class="header">

        <nav class="nav_bar">
            <ul class="menu">
                <li class="home">
                
                    <a href="/api/v1/<%= userRole %>/home">
                        <p class="underline-text-small">Home</p>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/api/v1/<%= userRole %>/home#celebrate-pi-day">
                                <p class="underline-text-small">Celebrate Pi Day</p>
                            </a> 
                        </li>
                        <li>
                            <a href="/api/v1/<%= userRole %>/home#what-is-pi">
                                <p class="underline-text-small">What is <span class="pi">&pi;</span></p>
                            </a>
                        </li>
                            <a class="bottom_li" href="https://www.piday.org/">
                                <p class="underline-text-small">More About Pi Day</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <% if (userRole === "student"){ %>
                    <li>
                        <a href="/api/v1/student/instruction">
                            <p class="underline-text-small">Quiz</p>
                        </a>
                    </li>
                <% }else if (userRole === "teacher"){ %>
                    <li>
                        <a href="/api/v1/teacher/leaderboard">
                            <p class="underline-text-small">Leaderboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/teacher/setting/test">
                            <p class="underline-text-small">Setting</p>
                        </a>
                    </li>
                <% } %>
                <li class = "account" id = "account">
                    <a href="/api/v1/sign-in" class = "account-link" id = "account-link"><span class="material-symbols-outlined account-logo underline-text-small" id = "account-logo">account_circle</span></a>
                    <ul class = "account-menu" id = "account-menu">
                        <li>
                            <% if (user){ %>
                                <a id = "log-out" class = "underline-text-small">Log Out</a>
                                <input type="hidden" class = "user-role" value = <%= userRole %>>
                               
                            <% }else{ %>
                                <a href="/api/v1/sign-in" class = "underline-text-small">Sign In</a>
                                
                            <% } %>


                        </li>
                        <li><a href="/api/v1/register" class = "underline-text-small">Register</a></li>
                    </ul>
                </li>

            </ul>

        </nav>

       

       

    </header>

    <main  class="bg layer">

        <section class="container">
            <section class="table_header">
                <p class="title_1">Student leaderboard</p>

                <div class="search_bar_container">
                    <form class="search_bar" action="">
                        <input type="text" placeholder="Search...">
                        <button type="submit"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAfFJREFUaEPtmWFOBDEIhbsnU0+mezL1ZLokQ9IQaHlAdzvJzJ9V06F88KBbvLWTP7eT+98ugFdnMJuB99baZwdBv9Pzc3z+Hp9fq0CjAN8PJ9lZr2/3x8JyEBSAHOgj7nW+X1cKggBEom4BksQ+IvTyHQ8A61yTDGudotprn9by+lHGCIJthHg8AH+KZdqUnPZubkkvnYkZgCabzKYaSMbe8CDTNqsowFK7owxI6VQ4z2rUMjtTg1oj1ktalEIbDCpTQoSkZDm1MvrMRF2KIPoHDpL2wjOib0kJbqsegErtS0WlZaQBSKMrAaSM4DrwAMBpBY7UJQCygOHCAgBoaWo/zbmUQdD5JQCyBp4pIQKCMv7qGpAte0kRw0YBGUkAuONpGUh3BgAgfeJ7v0qsqIOSE98CSJ+Qjiykoz+reLlBZS2URH8GUHrx6DJSanfWc7WLB9wpOuetycbMD1ORnhetTRGQ0WSDnENswRcI7eLRG+lHKjylkCMVzxQvBOHJwOge62g26hIC1aBgCASAPKkcLVq2IAgUgMMZAdGGYWmIKEAPQj+/HX+Q43Uu0NEELwWRBYjWgHwvDLELwKi+hjWxE8AIwvwyuRuABnGqDMguN22pO2aAIaijTf//sDOAq8NdAK4wLVx0ZWBhcF2mT5+Bf3HmfDF3h+WLAAAAAElFTkSuQmCC"/></button>
                    </form>
                </div>



            </section>

            <section class = "table-section">
                <table>

                    <thead>
                    
                        <th>No. <input type="checkbox" id="toggle-sort-id" class="toggle-sort-checkbox"><label for="toggle-sort-id" class="sort_id"><span class="material-symbols-outlined">arrow_upward</span></label></th>
                        <th>Name <input type="checkbox" id="toggle-sort-name" class="toggle-sort-checkbox"><label for="toggle-sort-name" class="sort_name"><span class="material-symbols-outlined">arrow_upward</span></label></th>
                        <th>Class <input type="checkbox" id="toggle-sort-class" class="toggle-sort-checkbox"><label for="toggle-sort-class" class="sort_class"><span class="material-symbols-outlined">arrow_upward</span></label></th>
                        <th>No. of Pi correct <input type="checkbox" id="toggle-sort-pi" class="toggle-sort-checkbox"><label for="toggle-sort-pi" class="sort_no__pi_correct"><span class="material-symbols-outlined">arrow_upward</span></label></th>
                        <th></th>
                        
                        

                        
                    </thead>


                    <tbody>
                        <% for (let i = 0; i < studentRank.length; i++){ %>

                            <tr>
                                <td><%=i+1%></td>
                                <td><%=studentRank[i].full_name%></td>
                                <td><%=studentRank[i].grade%></td>
                                <td><%=studentRank[i].score%></td>
                                <td><a href="/api/v1/teacher/info/<%= studentRank[i].student_id %>">More</a></td>
                            </tr>
    
    
                        
                        
                        <% } %>

                    </tbody>
                




                    
        
                    
                </table>

            </section>


        </section>


    </main>

    <!--DELETE-->




        <footer class="footer">

            <p>Made by BVIS students</p>

        </footer>
   
    <script type = "module" src = "/js/leaderboard.js"></script>
    <script type = "module" src = "/js/logOut.js"></script>

</body>
</html>